.lotteryButton {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#fbcf00 5%, #fffcd1 25%, #cb9b0c 60%, #f3e18b 75%, #fffcd1 95%);
  background-color: #fc0;
  border-bottom: solid 4px #000000;
  border-radius: 8px;
  color: #1b1464;
  text-shadow: 1px 2px 3px #808080;
  text-decoration: none;
  font-weight: bold;
  line-height: 1.2em;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.lotteryButton:hover {
  border-bottom: none;
  transform: translateY(4px);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
