.view1 {
    position:  relative; 
    height: 200px;
}

.view2 {
    font-size: 2000%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 80%;
    height: 3.2rem;
}