{% extends "layout.html" %}
{% block content %}
<br>
<h2>場所：{{ place['placename'] }}</h2>
<hr>
<p><a href="/" class="btn btn-primary">もどる</a></p>
<br>

<h3>学籍番号の追加</h3>
<form action="/add" method="post">
    <h5>学籍番号</h5>
    <p><input type="text" size="50" maxlength="200" name="student_id"></p>
    <button type="submit" class="btn btn-primary">追加する</button>
</form>
<br><br>
<h3> - NFCタッチログ - </h3>
<table class="table">
    <thead class="table-dark">
    <tr>
        <th>#</th>
        <th>学籍番号</th>
        <th>最終更新</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for t in log %}
    <tr>
        <td>{{ t['id'] }}</td>
        <td>{{ t['student_id'] }}</td>
        <td>{{ t['time'] }}</td>
        <td>
            <a href="/delete/{{ t.id }}" class="btn btn-danger btn-sm">削除</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br><br>

<br>

{% endblock %}