{% extends "layout.html" %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-12">
        <h1>Stickee</h1>
    </div>
</div>
<br><br>
<h3>場所の追加</h3>
<form action="/add" method="post">
    <h5>場所の名前</h5>
    <p><input type="text"  size="50" maxlength="200" name="place"></p>
    <button type="submit" class="btn btn-primary">追加する</button>
</form>
<br><br>


<h3> 場所一覧 </h3>
<table class="table">
    <thead class="table-dark">
    <tr>
        <th>id</th>
        <th>場所</th>
        <th>場所削除</th>
        <th>表示ページ</th>
        <th>抽選</th>
        <th>管理者ページ</th>
    </tr>
    </thead>
    <tbody>
    {% for p in place %}
    <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.name }}</td>
        <td>
            <form action="/delete/{{ p.id }}" method="post">
                <button type="submit" name="_method" value="DELETE" class="btn btn-danger btn-sm">削除</button>
            </form>
        </td>
        <td>
            <p><a href="/place/{{ p.id }}/message" class="btn btn-primary">Message</a></p>
        </td>
        <td>
            <a href="/place/{{ p.id }}/random" class="btn btn-primary">抽選</a>
        </td>
        <td>
            <a href="/place/{{ p.id }}" class="btn btn-primary">Login</a>
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>

<hr>
<p>This is a student ID keeper powered by <b>FastAPI</b>!</p>

{% endblock %}