{% extends "layout.html" %}
{% block content %}

<br>
<div class="row">
    <div class="col-md-12">
        <h1>Stickee at {{ place.name }}</h1>
        <hr>
        <p><a href="/" class="btn btn-primary">もどる</a></p>
        <br>
    </div>
</div>

<br>

<hr>
<div align="center">
    <h1>
        <ul id='messages'></ul>
    </h1>
    
</div>        
<script>
    var PLACE_ID = '{{ place.id | tojson }}'
    var WS_URL = "ws://localhost:8000"
    var WS_URI = `${WS_URL}/ws`
    messages = document.getElementById('messages')
    messages.innerHTML = "Hello Stickee!"
    var ws = new WebSocket(WS_URI);
    ws.onmessage = function(event) {
        messages = document.getElementById('messages')
        const json = JSON.parse(event.data);
        if( json.place_id==PLACE_ID && json.client=="NFC" )
            messages.innerHTML = json.message
    }
</script>

<hr>


{% endblock %}



        
