<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Stickee｜抽選画面</title>
	<link rel="stylesheet" href="http://localhost:8000/static/css/reset.css">
	<link rel="stylesheet" href="http://localhost:8000/static/css/odometer-theme-slot-machine.css">
	<link rel="stylesheet" href="http://localhost:8000/static/css/message-custom.css">
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <h1>Stickee at {{ place.name }}</h1>
            <hr>
            <p><a href="/" class="btn btn-primary">もどる</a></p>
            <br>
        </div>
    </div>

	<div class="view1" align="center">
        <h1 class="view2">
            <ul id="messages"></ul>
        </h1>
        
    </div> 
	
</body>

<script>
    var WS_URL = "ws://localhost:8000"
    var PLACE_ID = '{{ place.id | tojson }}'
    messages = document.getElementById('messages')
    messages.innerHTML = "21311082"
    var ws = new WebSocket(WS_URL + '/api/place/'+ PLACE_ID + '/ws');
    ws.onmessage = function(event) {
        messages = document.getElementById('messages')
        var message = document.createTextNode(event.data)
        messages.innerHTML = event.data
    }
</script>

</html>

