<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Stickee｜抽選画面</title>
	<link rel="stylesheet" href="http://localhost:8000/static/css/reset.css">
	<link rel="stylesheet" href="http://localhost:8000/static/css/odometer-theme-slot-machine.css">
	<link rel="stylesheet" href="http://localhost:8000/static/css/custom.css">
</head>
<body>

	<div class="odometer-container">
		<div class="odometer">	
			<a href="/place/{{ place.id }}/random" class="btn btn-primary">Click to Start</a></p>
		</div>
	</div>
	
</body>
</html>