<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Stickee｜抽選画面</title>
	<link rel="stylesheet" href="http://localhost:8000/static/css/reset.css">
	<link rel="stylesheet" href="http://localhost:8000/static/css/custom.css">
	<link rel="stylesheet" href="http://localhost:8000/static/css/standby.css">
</head>
<body>

	<div class="odometer-container">
		<div>
			<form action="/place/{{ place.id }}/random" method="get">
				<p>
				<button class="btn01" >Click to Start</button>
				</p>
		</form>
			
		</div>
	</div>
	
</body>
</html>