.comment-title{
  font-size: large;
  text-align: center;
}

.comment-dialog{
  border-radius: 10px;
  width: 80vw;
  height: 45vh;
  opacity: 0.95;
}

.comment {
  text-align: center;
}

.comment-btn {
  font-size: 12px;
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#fbcf00 5%, #fffcd1 25%, #cb9b0c 60%, #f3e18b 75%, #fffcd1 95%);
  background-color: #fc0;
  border-bottom: solid 4px #000000;
  border-radius: 8px;
  color: #1B1464;
  text-shadow: 1px 2px 3px #808080;
  text-decoration: none;
  font-weight: bold;
  line-height: 1.2em;
  -webkit-transition: .100s;
  transition: .100s;
}

#comment-space{
  text-align: right!important;
  width: 80vw;
  height: 23vh;
  overflow-y: scroll;
  background-color: rgb(250, 250, 250);
}

#send-btn{
  background-color: #2E1E72;
  color: whitesmoke;
  border-radius: 7px;
}

#messageText{
  width: 65vw;
  border-radius: 7px;
}

#messages p{
  text-align: right!important;
  margin-right: 20px;
  margin-bottom: 3px;
  flex-wrap: wrap;
  position: relative;
  padding: 7px 3px 5px 8px;
  border-radius: 12px;
  background: #f5eec4;/*色は任意*/
  box-sizing:border-box;
  line-height:1.5;
}
