.odometer-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url(/static/images/bg_none-relief_16-9.png);
  background-size: contain;
  background-position: top;
}
.odometer {
  font-size: 25px;
  position: absolute;
  margin-top: 10%;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.odometer.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition-duration: 5s !important;
    -moz-transition-duration: 5s !important;
    -ms-transition-duration: 5s !important;
    -o-transition-duration: 5s !important;
    transition-duration: 5s !important
}

.design {
  display: block;
  height: 40vh;
  overflow: scroll;
  width: 80%;
  height: 40%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  border-radius: 15px;
  font-weight: bold;
  background-color: white;
}

td{
  width: auto;
  text-align: center;
  padding: 5px 5px 5px 5px;
}
.corner1 {
  top: 1%;
  width: 20%;
  transform: rotateZ( 90deg );
  height: auto;
  position:absolute;
  left: 2%;
}

.corner2 {
  top: 1%;
  width: 20%;
  transform: rotateZ( 180deg );
  height: auto;
  position:absolute;
  right: 2%;
}

.corner3 {
  bottom: 1%;
  width: 20%;
  transform: rotateZ( -90deg );
  height: auto;
  position:absolute;
  right: 2%;
}

.corner4 {
  bottom: 1%;
  width: 20%;
  transform: rotateZ( 0deg );
  height: auto;
  position:absolute;
  left: 2%;
}
.center1 {
  width: 40%;
  height: auto;
  margin-left: 30%;
  margin-right: 30%;
}
.center2 {
  width: 40%;
  height: auto;
  margin-left: 30%;
  margin-right: 30%;
}
.center3 {
  width: 50%;
  height: auto;
  margin-top: 7%;
  margin-left: 25%;
  margin-right: 25%;
}
.center4 {
  width: 40%;
  height: auto;
  margin-left: 30%;
  margin-right: 30%;
  position:absolute;
  bottom: 1%;
}
.word1{
  position: sticky;
  top: 0;
  padding: 0 10vw 0 10vw;
  background-color: white;
}
.word2{
  position: sticky;
  top: 0;
  padding: 0 10vw 0 10vw;
  background-color: white;
}