.odometer-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url(https://lottery-api.nutfes.net/static/images/bg-4-3.png);
  background-size: contain;
  background-position: center;
}
.odometer {
  font-size: 11.5vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.odometer.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition-duration: 5s !important;
    -moz-transition-duration: 5s !important;
    -ms-transition-duration: 5s !important;
    -o-transition-duration: 5s !important;
    transition-duration: 5s !important
}