.odometer-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url(http://localhost:3000/static/images/bg_none-relief_16-9.png);
  background-size: contain;
  background-position: top;
}
.odometer {
  font-size: 25px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.odometer.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition-duration: 5s !important;
    -moz-transition-duration: 5s !important;
    -ms-transition-duration: 5s !important;
    -o-transition-duration: 5s !important;
    transition-duration: 5s !important
}

thead,tbody{
  display: block;
  width: auto;
  overflow:scroll;
  height: 300px;
}
td{
  width: auto;
  text-align: center;
  padding: 5px 5px 5px 5px;
}
tbody{
  overflow-y: scroll;
  width: auto;
}

.corner1 {
  margin-top: 30px;
  width: 20%;
  transform: rotateZ( 90deg );
  height: auto;
  position:absolute;
  top: -2vw;
  left: 3vw;
}

.corner2 {
  margin-top: 30px;
  width: 20%;
  transform: rotateZ( 180deg );
  height: auto;
  position:absolute;
  top: -2vw;
  right: 3vw;
}

.corner3 {
  margin-bottom: 30px;
  width: 20%;
  transform: rotateZ( -90deg );
  height: auto;
  position:absolute;
  bottom: -2vw;
  right: 3vw;
}

.corner4 {
  margin-bottom: 30px;
  width: 20%;
  transform: rotateZ( 0deg );
  height: auto;
  position:absolute;
  bottom: -2vw;
  left: 3vw;
}
.center1 {
  width: 50%;
  height: auto;
  margin-left: 25%;
  margin-right: 25%;
}
.center2 {
  width: 50%;
  height: auto;
  margin-left: 25%;
  margin-right: 25%;
}