.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url(/bg_none-relief_16-9.png);
  background-size: contain;
  background-position: top;
}

.corner1 {
  top: 1%;
  width: 20%;
  transform: rotateZ(90deg);
  height: auto;
  position: absolute;
  left: 2%;
}

.corner2 {
  top: 1%;
  width: 20%;
  transform: rotateZ(180deg);
  height: auto;
  position: absolute;
  right: 2%;
}

.corner3 {
  bottom: 1%;
  width: 20%;
  transform: rotateZ(-90deg);
  height: auto;
  position: absolute;
  right: 2%;
}

.corner4 {
  bottom: 1%;
  width: 20%;
  transform: rotateZ(0deg);
  height: auto;
  position: absolute;
  left: 2%;
}
.center1 {
  width: 40%;
  height: auto;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 1%;
  padding-bottom: 5%;

}
.center2 {
  width: 40%;
  height: auto;
  margin-left: 30%;
  margin-right: 30%;
}
.center3 {
  width: 50%;
  height: auto;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 7%;
}
.center4 {
  width: 40%;
  height: auto;
  margin-left: 30%;
  margin-right: 30%;
  position: absolute;
  bottom: 1%;
}

.odometerContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url(/bg_none-relief_16-9.png);
  background-size: contain;
  background-position: top;
}


.design {
  display: block;
  height: 40vh;
  overflow: scroll;
  width: 80%;
  height: 40%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  border-radius: 15px;;
  font-weight: bold;
  background-color: white;
}

.word1{
  position: sticky;
  top: 0;
  padding: 0 10vw 0 10vw;
  background-color: white;
  padding-top: 5%;
}
.word2{
  position: sticky;
  top: 0;
  padding: 0 10vw 0 10vw;
  background-color: white;
  padding-top: 5%;
}

.line{
  border: 1px gold solid;
  height: 1px;
  margin-top: 1rem;
}