body {
    width: 100vw;
    height: 92vh;
    position: relative;
    background-image: url(https:/lottery.nutfes.net/static/images/bg_flame.png);
    background-size: contain;
    background-position: center;
}

.corner1 {
    width: 20%;
    transform: rotateZ( 90deg );
    height: auto;
    position:absolute;
    top: -2vw;
    left: 3vw;
}

.corner2 {
    width: 20%;
    transform: rotateZ( 180deg );
    height: auto;
    position:absolute;
    top: -2vw;
    right: 3vw;
}

.corner3 {
    width: 20%;
    transform: rotateZ( -90deg );
    height: auto;
    position:absolute;
    bottom: -2vw;
    right: 3vw;
}

.corner4 {
    width: 20%;
    transform: rotateZ( 0deg );
    height: auto;
    position:absolute;
    bottom: -2vw;
    left: 3vw;
}

.title {
    width: 43%;
    height: auto;
    position:absolute;
    top:33%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.view1 {
    position:relative;
    height:85vh;
    width: 90vw;
    text-align:center;
    margin: auto;
    margin-top: 7vh;
}

.view2 {
    font-size: 10.5vw;
    color: #ACB6E5;
    background: linear-gradient(#fbcf00 5%, #fffcd1 25%, #cb9b0c 60%, #f3e18b 75%, #fffcd1 95%);
    background-color: #fc0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin: auto;
    position:absolute;
    top:55%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
}